
/* div{
    overflow: hidden;
    height: 100%;
    align-items: center;
} */
/* body{
    backdrop-filter: brightness(40%) blur(4px);
    margin: 0;
} */
/* h1{
    display: flex;
    font-size: 7rem;
    justify-content: center;
}
.myButton{
    padding: 2rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); */
/* } */

